<nav>
  <ul style="list-style: none; display: flex; gap: 20px;">
    <li>
      <details>
        <summary><strong>Tutorials</strong></summary>
        <ul>
          <li><a href="/GeoHumTutorials/docs_en/Tutorial_advanced-layer-styles.html">Advanced Layer Styles</a></li>
          <li><a href="/GeoHumTutorials/docs_en/Tutorial_Excel-to-GeoJSON.html">Excel to GeoJSON</a></li>
          <li><a href="/GeoHumTutorials/docs_en/Tutorial_geocodingGEONAMES.html">Geocoding with GEONAMES</a></li>
          <li><a href="/GeoHumTutorials/docs_en/Tutorial_geocodingOPENCAGE.html">Geocoding with OpenCage</a></li>
          <li><a href="/GeoHumTutorials/docs_en/Tutorial_GeoJSON.html">Working with GeoJSON</a></li>
          <li><a href="/GeoHumTutorials/docs_en/Tutorial_GeoPackages.html">GeoPackages</a></li>
          <li><a href="/GeoHumTutorials/docs_en/Tutorial_georeferencing-analysing-historic-maps.html">Georeferencing Historic Maps</a></li>
          <li><a href="/GeoHumTutorials/docs_en/Tutorial_GoogleColab.html">Using Google Colab</a></li>
          <li><a href="/GeoHumTutorials/docs_en/Tutorial_map-digital-history.html">Map & Digital History</a></li>
          <li><a href="/GeoHumTutorials/docs_en/Tutorial_raster-projection.html">Raster Projection</a></li>
          <li><a href="/GeoHumTutorials/docs_en/Tutorial_simpleQGISmaps.html">Simple QGIS Maps</a></li>
        </ul>
      </details>
    </li>

    <li>
      <details>
        <summary><strong>Workshops</strong></summary>
        <ul>
          <li><a href="/GeoHumTutorials/docs_en/Workshop_Maastricht_2023.html">Maastricht 2023</a></li>
          <li><a href="/GeoHumTutorials/docs_en/Workshop_Maastricht_2025.html">Maastricht 2025</a></li>
        </ul>
      </details>
    </li>

    <li>
      <details>
        <summary><strong>Sample Maps</strong></summary>
        <ul>
          <li><a href="https://monikabarget.github.io/GeoHumTutorials/qgis2web_2024_12_10-15_30_virtual-layers_ocean/index.html">Visualising administrative function in the DigiKAR dataset "Reichskammergericht"</a></li>
  <li><a href="https://monikabarget.github.io/GeoHumTutorials/qgis2web_2024_12_10-21_event-before-RKG/index.html">Biographic events in the lives of "Reichskammergericht" officials directly before joining the institution (DigiKAR project)</a></li>
        </ul>
      </details>
    </li>
  </ul>
</nav>
