<nav>
  <ul style="list-style: none; display: flex; gap: 20px;">
    <li>
      <details>
        <summary><strong>Tutorials</strong></summary>
        <ul>
          <li><a href="/GeoHumTutorials/docs_en/Tutorial_geocodingGEONAMES.html">Geocoding: GEONAMES</a></li>
          <li><a href="/GeoHumTutorials/docs_en/Tutorial_geocodingOPENCAGE.html">Geocoding: OpenCage</a></li>
          <li><a href="/GeoHumTutorials/docs_en/Tutorial_Excel-to-GeoJSON.html">GeoJSON: from EXCEL</a></li>
          <li><a href="/GeoHumTutorials/docs_en/Tutorial_GeoJSON.html">GeoJSON: Editing</a></li>
          <li><a href="/GeoHumTutorials/docs_en/Tutorial_GeoPackages.html">Geodata packages for Python</a></li>
          <li><a href="/GeoHumTutorials/docs_en/Tutorial_georeferencing-analysing-historic-maps.html">Georeferencing historic maps</a></li>
          <li><a href="/GeoHumTutorials/docs_en/Tutorial_GoogleColab.html">Using Google Colab</a></li>
          <li><a href="/GeoHumTutorials/docs_en/Tutorial_map-digital-history.html">Maps in Digital History</a></li>
          <li><a href="/GeoHumTutorials/docs_en/Tutorial_simpleQGISmaps.html">QGIS: Making Simple Maps</a></li>
          <li><a href="/GeoHumTutorials/docs_en/Tutorial_raster-projection.html">QGIS: Raster Projection</a></li>
          <li><a href="/GeoHumTutorials/docs_en/Tutorial_advanced-layer-styles.html">QGIS: Advanced Layer Styles</a></li>
        </ul>
      </details>
    </li>

    <li>
      <details>
        <summary><strong>Workshops</strong></summary>
        <ul>
          <li><a href="/GeoHumTutorials/docs_en/Workshop_Maastricht_2023.html">Maastricht 2023: Introduction to Geocoding</a></li>
          <li><a href="/GeoHumTutorials/docs_en/Workshop_Maastricht_2025.html">Maastricht 2025: Borders and Negotiations of Space</a></li>
        </ul>
      </details>
    </li>

    <li>
      <details>
        <summary><strong>Sample Maps</strong></summary>
        <ul>
          <li><a href="https://monikabarget.github.io/GeoHumTutorials/qgis2web_2024_12_10-15_30_virtual-layers_ocean/index.html">Administrative functions in the DigiKAR dataset "Reichskammergericht"</a></li>
          <li><a href="https://monikabarget.github.io/GeoHumTutorials/qgis2web_2024_12_10-21_event-before-RKG/index.html">"Reichskammergericht" officials' places of activity directly before joining the institution (DigiKAR project)</a></li>
        </ul>
      </details>
    </li>
  </ul>
</nav>
