<nav>
  <ul style="list-style: none; display: flex; gap: 20px;">
    <li>
      <details>
        <summary><strong>Tutorials</strong></summary>
        <ul>
          <li><a href="/GeoHumTutorials/docs_de/Tutorial_geocodingGEONAMES.html">Geokodierung: GEONAMES</a></li>
          <li><a href="/GeoHumTutorials/docs_de/Tutorial_geocodingOPENCAGE.html">Geokodierung: OpenCage</a></li>
          <li><a href="/GeoHumTutorials/docs_de/Tutorial_Excel-to-GeoJSON.html">GeoJSON: aus EXCEL erstellen</a></li>
          <li><a href="/GeoHumTutorials/docs_de/Tutorial_GeoJSON.html">GeoJSON: Bearbeiten</a></li>
          <li><a href="/GeoHumTutorials/docs_de/Tutorial_GeoPackages.html">Geodatenpakete für Python</a></li>
          <li><a href="/GeoHumTutorials/docs_de/Tutorial_georeferencing-analysing-historic-maps.html">Georeferenzierung historischer Karten</a></li>
          <li><a href="/GeoHumTutorials/docs_de/Tutorial_GoogleColab.html">Arbeiten mit Google Colab</a></li>
          <li><a href="/GeoHumTutorials/docs_de/Tutorial_map-digital-history.html">Karten in der digitalen Geschichtswissenschaft</a></li>
          <li><a href="/GeoHumTutorials/docs_de/Tutorial_simpleQGISmaps.html">QGIS: Einfache Karten erstellen</a></li>
          <li><a href="/GeoHumTutorials/docs_de/Tutorial_raster-projection.html">QGIS: Rasterprojektion</a></li>
          <li><a href="/GeoHumTutorials/docs_de/Tutorial_advanced-layer-styles.html">QGIS: Erweiterte Layouteinstellungen</a></li>
        </ul>
      </details>
    </li>

    <li>
      <details>
        <summary><strong>Workshops</strong></summary>
        <ul>
          <li><a href="/GeoHumTutorials/docs_de/Workshop_Maastricht_2023.html">Maastricht 2023: Einführung in die Geokodierung</a></li>
          <li><a href="/GeoHumTutorials/docs_de/Workshop_Maastricht_2025.html">Maastricht 2025: Grenzen und Raumverhandlungen</a></li>
        </ul>
      </details>
    </li>

    <li>
      <details>
        <summary><strong>Beispielkarten</strong></summary>
        <ul>
          <li><a href="https://monikabarget.github.io/GeoHumTutorials/qgis2web_2024_12_10-15_30_virtual-layers_ocean/index.html">Verwaltungsfunktionen im DigiKAR-Datensatz „Reichskammergericht“</a></li>
          <li><a href="https://monikabarget.github.io/GeoHumTutorials/qgis2web_2024_12_10-21_event-before-RKG/index.html">Orte der Amtsträger kurz vor ihrer Tätigkeit im Reichskammergericht (DigiKAR)</a></li>
        </ul>
      </details>
    </li>
  </ul>
</nav>
