<nav>
  <ul style="list-style: none; display: flex; gap: 20px;">
    <li>
      <details>
        <summary><strong>Handleidingen</strong></summary>
        <ul>
          <li><a href="/GeoHumTutorials/docs_nl/Tutorial_geocodingGEONAMES.html">Geocodering: GEONAMES</a></li>
          <li><a href="/GeoHumTutorials/docs_nl/Tutorial_geocodingOPENCAGE.html">Geocodering: OpenCage</a></li>
          <li><a href="/GeoHumTutorials/docs_nl/Tutorial_Excel-to-GeoJSON.html">GeoJSON: van EXCEL naar bestand</a></li>
          <li><a href="/GeoHumTutorials/docs_nl/Tutorial_GeoJSON.html">GeoJSON: Bewerken</a></li>
          <li><a href="/GeoHumTutorials/docs_nl/Tutorial_GeoPackages.html">Gegevenspakketten voor Python</a></li>
          <li><a href="/GeoHumTutorials/docs_nl/Tutorial_georeferencing-analysing-historic-maps.html">Georeferentie van historische kaarten</a></li>
          <li><a href="/GeoHumTutorials/docs_nl/Tutorial_GoogleColab.html">Werken met Google Colab</a></li>
          <li><a href="/GeoHumTutorials/docs_nl/Tutorial_map-digital-history.html">Kaarten in de digitale geschiedenis</a></li>
          <li><a href="/GeoHumTutorials/docs_nl/Tutorial_simpleQGISmaps.html">QGIS: Eenvoudige kaarten maken</a></li>
          <li><a href="/GeoHumTutorials/docs_nl/Tutorial_raster-projection.html">QGIS: Rasterprojectie</a></li>
          <li><a href="/GeoHumTutorials/docs_nl/Tutorial_advanced-layer-styles.html">QGIS: Geavanceerde laagstijlen</a></li>
        </ul>
      </details>
    </li>

    <li>
      <details>
        <summary><strong>Workshops</strong></summary>
        <ul>
          <li><a href="/GeoHumTutorials/docs_nl/Workshop_Maastricht_2023.html">Maastricht 2023: Inleiding tot geocodering</a></li>
          <li><a href="/GeoHumTutorials/docs_nl/Workshop_Maastricht_2025.html">Maastricht 2025: Grenzen en ruimtelijke onderhandelingen</a></li>
        </ul>
      </details>
    </li>

    <li>
      <details>
        <summary><strong>Voorbeeldkaarten</strong></summary>
        <ul>
          <li><a href="https://monikabarget.github.io/GeoHumTutorials/qgis2web_2024_12_10-15_30_virtual-layers_ocean/index.html">Bestuurlijke functies in de DigiKAR-dataset “Reichskammergericht”</a></li>
          <li><a href="https://monikabarget.github.io/GeoHumTutorials/qgis2web_2024_12_10-21_event-before-RKG/index.html">Plaatsen van ambtsdragers direct vóór hun werk bij het Reichskammergericht (DigiKAR)</a></li>
        </ul>
      </details>
    </li>
  </ul>
</nav>
