<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
  <div class="container">
    <aside class="sidebar">
      <h1><a href="{{ '/' | relative_url }}">GeoHumTutorials</a></h1>
      <p>Beginners' tutorials and samples on geocoding & mapping (historical) spatial data</p>
      <p><a href="https://github.com/MonikaBarget/GeoHumTutorials">View the Project on GitHub</a></p>
    </aside>

    <main class="content">
      <nav class="topnav">
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ '/about' | relative_url }}">About</a>
        <a href="{{ '/contact' | relative_url }}">Contact</a>
        <span>Language:
          <a href="{{ '/docs_EN/' | relative_url }}">EN</a> |
          <a href="{{ '/docs_DE/' | relative_url }}">DE</a> |
          <a href="{{ '/docs_NL/' | relative_url }}">NL</a>
        </span>
      </nav>
      {{ content }}
    </main>
  </div>
</body>

</html>